<app-navbar></app-navbar>

<div class="container">
    <div class="hero-image">
        <img src="nosotros.jpg" alt="Contacto">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1>¿Quiénes somos?</h1>
            <p>Un grupo de profesionales dedicados y empáticos, que se esfuerzan cada día por acompañarte en tu proceso de recuperación.</p>
        </div>
    </div>

    <div class="info-section">
        <div class="info-left">
            <h2>FisioNat IPS</h2>
            <p>En FisioNat, somos un centro de rehabilitación integral comprometido a mejorar la salud y bienestar del
                paciente, donde nuestro enfoque se centra en la triada profesional-usuario-Familia, trabajamos en
                estrecha
                colaboración con nuestros pacientes y sus familias para garantizar una atención integral y humanizada,
                adaptándonos a las necesidades únicas de cada paciente para proporcionar una atención efectiva y
                eficiente,
                incluyendo nuestra vocación por ayudar y servir, nos guiamos por un compromiso ético y humano para
                mejorar
                la calidad de vida de nuestros pacientes.</p>
        </div>
        <div class="info-right">
            <img src="consultorio.png" alt="Contacto">
        </div>
    </div>

    <div class="tabs-section">
        <app-tabs [tabs]="tabData"></app-tabs>
    </div>

    <div class="values-section">
        <h2>Valores</h2>
        <p>En FisioNat IPS nos distinguimos por…</p>
        <div class="values-container">
            <div class="value-item">
                <div class="icon">
                    <mat-icon>menu_book</mat-icon>
                </div>
                <p>Desarrollo profesional.</p>
            </div>
            <div class="value-item">
                <div class="icon">
                    <mat-icon>handshake</mat-icon>
                </div>
                <p>Integridad Ética.</p>
            </div>
            <div class="value-item">
                <div class="icon">
                    <mat-icon>lock</mat-icon>
                </div>
                <p>Confidencialidad y privacidad.</p>
            </div>
        </div>

        <div class="values-container">
            <div class="value-item">
                <div class="icon">
                    <mat-icon>favorite</mat-icon>
                </div>
                <p>Respeto y dignidad.</p>
            </div>
            <div class="value-item">
                <div class="icon">
                    <mat-icon>star</mat-icon>
                </div>
                <p>Servicios de alta calidad.</p>
            </div>
            <div class="value-item">
                <div class="icon">
                    <mat-icon>emoji_objects</mat-icon>
                </div>
                <p>Excelencia e innovación.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>