<app-navbar></app-navbar>
<div class="container">
    <div class="geriatric-hero">
        <img src="geriatrica.jpg" alt="Terapia">
        <div class="overlay"></div>
        <div class="geriatric-content">
            <h1>Fisioterapia geriátrica</h1>
        </div>
    </div>

    <div class="services-section">
        <h2>Servicios que ofrecemos</h2>
        <div class="services-container">
            <div class="service-item" *ngFor="let service of displayedGeriatricPhysiotherapy">
                <div class="service-icon">
                    <mat-icon>{{ service.icon }}</mat-icon>
                </div>
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div>

    <div class="experience-container" [@fadeIn]>
        <h1>Experiencias</h1>

        <div class="hexagon-collage ">
            <div class="column">
                <img src="terapia_fisica_1.jpg" alt="Imagen 1" class="hexagon-image">
                <img src="terapia_fisica_2.jpg" alt="Imagen 2" class="hexagon-image">
            </div>
        
            <div class="column">
                <img src="terapia_fisica_3.jpg" alt="Imagen 3" class="hexagon-image">
                <img src="terapia_fisica_4.jpg" alt="Imagen 4" class="hexagon-image">
                <img src="terapia_fisica_5.jpg" alt="Imagen 5" class="hexagon-image">
            </div>
        
            <div class="column">
                <img src="terapia_fisica_6.jpg" alt="Imagen 6" class="hexagon-image">
                <img src="terapia_fisica_7.jpg" alt="Imagen 7" class="hexagon-image">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>