<app-navbar></app-navbar>

<div class="conatiner">
    <div class="teraphy-image">
        <img src="terapia_fisica.jpg" alt="Terapia">
        <div class="overlay"></div>
        <div class="teraphy-content">
            <h1>Terapia fisica</h1>
            <p>Si requieres más detalles sobre nuestros servicios o tienes alguna pregunta, no dudes en contactarnos,
                estamos
                aquí para ayudarte.</p>
        </div>
    </div>

    

    <div class="services-section">
        <h2>Servicios que ofrecemos</h2>
        <div class="services-container">
            <div class="service-item">
                <div class="icon">
                    <mat-icon>menu_book</mat-icon>
                </div>
                <p>Desarrollo profesional.</p>
            </div>
            <div class="service-item">
                <div class="icon">
                    <mat-icon>handshake</mat-icon>
                </div>
                <p>Integridad Ética.</p>
            </div>
            <div class="service-item">
                <div class="icon">
                    <mat-icon>lock</mat-icon>
                </div>
                <p>Confidencialidad y privacidad.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>