.container {
    flex: 1;
    width: 100%;
}

.teraphy-image {
    position: relative;
    width: 100%;
    height: 400px;
}

.teraphy-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 1, 1, 0.5);
}

.teraphy-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.teraphy-content h1 {
    font-size: 40px;
    margin: 0;
}

.teraphy-content p {
    font-size: 18px;
    margin: 0;
}

.services-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 159, 181);
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.services-section h2 {
    color: rgb(124, 225, 233);
    font-weight: bold;
    padding-top: 40px;
}

.services-container {
    display: flex;
    gap: 40px;
}

.service-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}